body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 24px;
    color: #e00;
    font-weight: bold;
}

.nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}

.navlogin a{
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}
.search-bar input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.movie-section, .cinema-section {
    margin: 20px auto;
    padding: 20px;
    max-width: 1200px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-section h2, .cinema-section h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.movie-list {
    display: flex;
    gap: 15px;
    overflow-x: auto;
}

.movie-item {
    width: 150px;
    flex-shrink: 0;
    text-align: center;
    background-color: #f8f8f8;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.movie-item img {
    width: 100%;
    border-radius: 4px;
}

.movie-info {
    margin-top: 10px;
    
}

.movie-info h3 {
    font-size: 16px;
    margin: 10px 0 5px;
}
.timerating {
    padding: 8px;
    display: flex;
    margin-left: 23px;
    margin-right: 10px;
   
}
.rating {
    font-size: 14px;
    color: #28a745;
}

.buy-ticket {
    background-color: #e00;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
}

.cinema-container {
    display: flex;
    justify-content: space-between;
}

.cinema-list {
    width: 30%;
}

.cinema-list ul {
    list-style: none;
    padding: 0;
}

.cinema-list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.cinema-list li:hover {
    background-color: #f0f0f0;
}

.cinema-details {
    width: 65%;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cinema-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.cinema-location {
    margin-bottom: 20px;
    font-size: 16px;
    color: #666;
}

.schedule {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.schedule span {
    background-color: #ddd;
    padding: 5px 10px;
    border-radius: 4px;
}

.showtimes p {
    margin: 0;
    color: #555;
}
