<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="CSS/style.css">
</head>
<body>
    <div id="Wrapper">
        <div id="header">
                
                <div id="menu">
                    <div class="item">
                        <a href="" class="vephim"> Đặt vé phim chiếu rạp</a>
                    </div>
                    <div class="item">
                        <a href="#">Lịch chiếu</a>
                    </div>
                    <div class="item">
                        <li><a href="">Phim</a>
                            <ul class="sub_menu">
                                <li><a href="">Đang chiếu</a></li>
                                <li><a href="">Sắp chiếu</a></li>
                                <li><a href="">Chiếu sớm</a></li>
                                <li><a href="">Phim tháng 9/2024</a></li>
                                <li><a href="">Phim Việt Nam</a></li>
                            </ul>
                        
                        </li>
                    </div>
                    <div class="item">
                        <li><a href="">Rạp</a></li>
                    </div>
                    <div class="item">
                        <li><a href="">Tin tức</a>
                            <ul class="sub_menu">
                                <li><a href="">Tin điện ảnh</a></li>
                                <li><a href="">Đánh giá phim</a></li>
                                <li><a href="">Video</a></li>
                                <li><a href="">Chuyên đề</a>
                                    <ul class="sub_menu_ti">
                                        <li><a href="">Siêu anh hùng</a></li>
                                        <li><a href="">Kinh dị</a></li>
                                        <li><a href="">Góc kinh dị</a></li>
                                    </ul>
                                </li>
                                <li><a href="">Vũ trụ điện ảnh</a>
                                    <ul class="sub_menu_ti">
                                        <li><a href="">Siêu anh hùng</a></li>
                                        <li><a href="">Kinh dị</a></li>
                                        <li><a href="">Góc kinh dị</a></li>
                                    </ul>
                                </li>
                                <li><a href="">Tv Series</a></li>
                            </ul>

                        </li>
                    </div>
                    <div class="item">
                        <a href="#">Cộng đồng</a>
                    </div>
                              
                    
                </div>
                <a href="" class="logo">
                    BICINEMA
                </a>
                <div class="search-bar">
                    <input type="text" placeholder="Từ khóa tìm kiếm...">
                </div>
                <div id ="actions">
                    <div class="item">
                        <span  class="support">Hỗ trợ</span>
                    </div>
                    
                    <a href="login.html"class="item">
                        <img src="image/assets user.jpg" alt="">
                        Đăng nhập
                    </a>
                        
                    
                </div>

        </div>

        <main>
            <section class="movie-section">
                <h2>Mua vé xem phim</h2>
                <div class="movie-list">
                    <!-- Repeat this block for each movie -->
                    <div class="movie-item">
                        <img src="image/LamGiauVoiMa.jpg" alt="Làm Giàu Với Ma">
                        <button class="buy-ticket">Mua vé</button>
                        <div class="movie-info">
                            <h3>Làm Giàu Với Ma</h3>
                            <div class="timerating">
                            <p>30/08 <span class="rating">100%</span></p>
                           
                            </div>
                            
                        </div>
                       
                    </div>
                    <div class="movie-item">
                        <img src="image/HaiMuoi.jpg" alt="Làm Giàu Với Ma">
                        <button class="buy-ticket">Mua vé</button>
                        <div class="movie-info">
                            <h3>Hai Muối</h3>
                            <div class="timerating">
                            <p>30/08 <span class="rating">80%</span></p>
                           
                            </div>
                            
                        </div>
                       
                    </div>
                    <div class="movie-item">
                        <img src="image/Ma Da.jpg" alt="Làm Giàu Với Ma">
                        <button class="buy-ticket">Mua vé</button>
                        <div class="movie-info">
                            <h3>Ma Da</h3>
                            <div class="timerating">
                            <p>16/08 <span class="rating">80%</span></p>
                           
                            </div>
                            
                        </div>
                       
                    </div>
                    <div class="movie-item">
                        <img src="image/ShinCauBeButChi.jpg" alt="Làm Giàu Với Ma">
                        <button class="buy-ticket">Mua vé</button>
                        <div class="movie-info">
                            <a href="" title="Shin Cậu Bé Bút Chì"></a>
                            <h3>Shin Cậu Bé Bút Chì</h3>
                            <div class="timerating">
                            <p>30/08 <span class="rating">100%</span></p>
                           
                            </div>
                            
                        </div>
                       
                    </div>
                    <div class="movie-item">
                        <img src="image/ChangNuPhiCong.jpg" alt="Làm Giàu Với Ma">
                        <button class="buy-ticket">Mua vé</button>
                        <div class="movie-info">
                            <h3>Chàng Nữ Phi Công</h3>
                            <div class="timerating">
                            <p>30/08 <span class="rating">70%</span></p>
                           
                            </div>
                            
                        </div>
                       
                    </div>
                    <div class="movie-item">
                        <img src="image/SoiBanh.jpg" alt="Làm Giàu Với Ma">
                        <button class="buy-ticket">Mua vé</button>
                        <div class="movie-info">
                            <h3>200% Sói Bảnh</h3>
                            <div class="timerating">
                            <p>30/08 <span class="rating">100%</span></p>
                           
                            </div>
                            
                        </div>
                       
                    </div>
                    <div class="movie-item">
                        <img src="image/LamGiauVoiMa.jpg" alt="Làm Giàu Với Ma">
                        <button class="buy-ticket">Mua vé</button>
                        <div class="movie-info">
                            <h3>Làm Giàu Với Ma</h3>
                            <div class="timerating">
                            <p>30/08 <span class="rating">100%</span></p>
                           
                            </div>
                            
                        </div>
                       
                    </div>
                    <div class="movie-item">
                        <img src="image/LamGiauVoiMa.jpg" alt="Làm Giàu Với Ma">
                        <button class="buy-ticket">Mua vé</button>
                        <div class="movie-info">
                            <h3>Làm Giàu Với Ma</h3>
                            <div class="timerating">
                            <p>30/08 <span class="rating">100%</span></p>
                           
                            </div>
                            
                        </div>
                       
                    </div>
                    <div class="movie-item">
                        <img src="image/LamGiauVoiMa.jpg" alt="Làm Giàu Với Ma">
                        <button class="buy-ticket">Mua vé</button>
                        <div class="movie-info">
                            <h3>Làm Giàu Với Ma</h3>
                            <div class="timerating">
                            <p>30/08 <span class="rating">100%</span></p>
                           
                            </div>
                            
                        </div>
                       
                    </div>
                    
                    <!-- Repeat ends -->
                </div>
            </section>
    
            
        </main>

       
    </div>
</body>
</html>