<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng Ký</title>
    <link rel="stylesheet" href="CSS/style1.css">
</head>
<body>
    <div class="container">
        <form class="register-form" id="registrationForm">
            <h2>Đăng Ký</h2>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        
            
            <label for="password">Mật khẩu:</label>
            <input type="password" id="password" name="password" required>

            <label for="password">Nhập lại mật khẩu:</label>
            <input type="password" id="password" name="password" required>
            
            
            <button type="submit">Tạo tài khoản</button>
            <a href="login.html">bạn đã có tài khoản</a>
        </form>
        <div class="image-section">
            <img src="image/logo.png" alt="Cute monster with popcorn and drink">
        </div>
        <p id="message">
            <script>
                document.getElementById('registrationForm').addEventListener('submit', function(event) {
                    event.preventDefault() ;
                    const email = document.getElementById('email').value;
                    const password = document.getElementById('password').value;
        
                    fetch('/register', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ email, password }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById('message').innerText = data.message;
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
                });
            </script>

        </p>
    </div>
</body>
</html>
